<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    body { 
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-image: url('/images/b.jpeg');
        background-size: 100% auto;
    }
    
    </style>
</head>
<body>
<h1> Tablero: </h1>
    <h2>- ES UN TABLRERO DE 16*16 Y CORRESPONDE AL NIVEL INTERMEDIO</H2>
    <h2>- Tienes 40 banderas</h2>
    <h2>- En el tablero existe 40 minas</h2>
    
    <center><form method='get' action='/'>
        <input type="submit" value='volver al inicio'>
    </form><center>
    <br>
    <!--<label>INGRESE SU NOMBRE: <input type="text" name=Usuario ></label>-->
    <br>
    <form method='get' action='/formato2juego'>
        INGRESE SU NOMBRE: <input type="text" name='nombre'>
        <center><input type="submit" value='JUGAR !!'><center>
    </form>
    </div>
</body>
</html>