<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    body { 
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-image: url('/images/b.jpeg');
        background-size: 100% auto;
    }
    .content-prev {
        background-color: rgba(200, 200, 200, 0.65);
        width:500px;
        height:auto;
        margin:40px 0px 0px 0px;
        padding: 10px 20px 20px;
        color:#333;
        border:2px solid #C2D6FF;
        border-radius:40px 0 40px 0;
    }
    </style>
</head>
<body>
<div class="content-prev">
    <h1> Tablero: </h1>
    <h2>- ES UN TABLERO PERSONALIZADO Y CORRESPONDE AL NIVEL PERSONALIZADO</H2>
    <h2>- PUEDE INGRESAR COMO MAXIMO 20 MINAS Y 20 BANDERAS  </h2>
    <h2>- PUEDE INGRESAR LA CANTIDA MAXIMA DE 22 PARA FILAS Y 32 COLUMNAS</h2>
    
    <center><form method='get' action='/'>
        <input type="submit" value='volver al inicio'>
    </form><center>
    <br>

    <br>
    <form method='get' action='/formatoPjuego'>
        INGRESE SU NOMBRE: <input type="text" name='nombre'><br>
        INGRESE NUMERO DE FILAS: <input type="number" name='fila' min="8" max="22"><br>
        INGRESE NUMERO DE COLUMNAS: <input type="number" name='columna' min="8" max="32"><br>
        INGRESE NUMERO DE MINAS: <input type="number" name='mina' min="1" max="20"><br>
        INGRESE NUMERO DE BANDERAS: <input type="number" name='bandera' min="1" max="20"><br>
        <center><input type="submit" value='JUGAR !!'><center>
    </form>
    </div>
</body>
</html>