<!DOCTYPE html>
<html lang="en">
    <body>
        <center><h1> Niveles </h1><center>
    <form method='post' action='formato'>
        
        <br>

        <input type='submit' value='BASICO'>
        <br>
    </form>

    </body>
</html>