<!DOCTYPE html>
<html lang="en">
<body>
<center><h1> Video juego Buscaminas </h1><center>
    <form method="post" action="escogerNivel">
        Escoger nivel
        <input type= "submit" value="Nivel">
     </form>

</body>