<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    body 
    { 
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-image: url('/images/b.jpeg');
        background-size: 100% auto;
    }
    .content-prev {
        background-color: rgba(200, 200, 200, 0.65);
        width:500px;
        height:auto;
        margin:100px 0px 0px 0px;
        padding:50px;
        color:#333;
        border:2px solid #C2D6FF;
        border-radius:40px 0 40px 0;
    }

    h1{
        color: darkblue;
       
        
    }
    </style>
</head>

<body>

    <div class="content-prev">
    <center><h1> BIENVENIDO </h1></center>
        <form method="post" action="escogerNivel">
        <center> <input type= "submit" value="JUGAR!!!">
        </form></center>
        <br>
        <form method="post" action="">
        <center> <input type= "submit" value="Puntajes">
        </form></center>
    </div>
</body>
</html>